.menu-section {
  background-color: #f8f8f8;
  padding: 4rem 1rem;

  .menu-container {
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
  }

  // .menu-title {
  //   font-size: 2.5rem;
  //   font-weight: bold;
  //   color: #333;
  //   margin-bottom: 2rem;
  // }

  .menu-title {
    font-family: 'Mea Culpa', cursive;
    font-size: 3.5rem;
    font-weight: normal;
  }
  
  .menu-category {
    margin-bottom: 3rem;
    text-align: left;

    .category-title {
      font-family: 'Mea Culpa', cursive;
      font-size: 2.5rem;
      font-weight: bold;
      color: var(--text-color);
      border-bottom: 2px solid var(--text-color);
      display: inline-block;
      padding-bottom: 0.5rem;
      margin-bottom: 1rem;
    }

    .menu-list {
      list-style: none;
      padding: 0;

      .menu-item {
        font-size: 1.2rem;
        color: #555;
        padding: 0.75rem 0;
        border-bottom: 1px solid #ddd;

        &:last-child {
          border-bottom: none;
        }
      }
    }
  }
}
